<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calcu ladora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="Primeiro numero" [(ngModel)]="n1" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Segundo numero" [(ngModel)]="n2" labelPlacement="floating" placeholder="Digite o segundo numero"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="somar()">botão da somaria</ion-button>

  <ion-label>{{res}}</ion-label>

</ion-content>
